.controls {
  display: flex;
  min-width: 100vw;
  min-height: 100vh
}

.controls button {
  flex: 1;
}

.d-none {
  display: none;
}

/* <img class="d-none" src="/images/meteor.png" {{did-insert this.addImage "meteor"}}>
<img class="d-none" src="/images/player.png" {{did-insert this.addImage "player"}}> */
